<!-- editor html content -->
<div class="header">
    <h2 class="header">CAWFEE Deck Editor</h2>
</div>
<div class="mdl-layout">   
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2 moveString">
            <div class="moveCell"><input type="text"></div>
            <div class="moveCell">Test</div>
            <div class="moveCell">Test</div>
            <div class="moveCellAlt">Test</div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <div class="moveCell">Test</div>
            <div class="moveCell">Test</div>
            <div class="moveCell">Test</div>
            <div class="moveCellAlt">Test</div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <div class="moveCell">Test</div>
            <div class="moveCell">Test</div>
            <div class="moveCell">Test</div>
            <div class="moveCellAlt">Test</div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <div class="moveCell">Test</div>
            <div class="moveCell">Test</div>
            <div class="moveCell">Test</div>
            <div class="moveCellAlt">Test</div>
        </div>
    </div>
</div>