<!-- editor html content -->

<div id="bg" style="z-index:-1">
  <img id="bgimg" class="background" src="images/background.jpg" alt="">
</div>
<div class="header">
    <h2 class="header">Absolver Deck Assistant</h2>
</div>
<div class="mdl-layout">
    <div class="row">
        <div class="col-1"></div>
        <div id="col2" class="col-2">
        <div class="transbarmid">
            <div class="center midWidth">
            <div class="moveString">
                <div class="icon"><img ng-src="{{frIcon}}"></div>
                <div ng-class="{'selected':sel=='oneA'}" ng-click="sel='oneA'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[0].move.name==null}" ng-src="{{'images/moveicons/' + deck[0].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[0].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[0].move.styleIcon==null}" ng-src="{{deck[0].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[0].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[0].move.vert}} {{deck[0].move.horiz}}</li>
                            <li>{{deck[0].move.hit}}</li>
                            <li>{{deck[0].move.frames}}</li>
                            <!--Added frame advantage data to move display once move is selected -pkd9 -->
                            <span ng-if="deck[0].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[0].move.advhit}}, On Block: {{deck[0].move.advguard}}</li>
                                </div>
                            </span>
                            <!--<span ng-if="deck[0].move.name && deck[1].move.name">
                                <div class="small">
                                    <li>{{  deck[1].move.intframes-deck[0].move.advhit < 10 ? "Hit string is jab safe" : "Hit string not jab safe"}}</li>
                                    <li>{{ deck[1].move.intframes-deck[0].move.advguard   < 10 ? "Block string is jab safe" : "Block string not jab safe"}}</li>
                                </div>
                            </span>-->
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[0].icon.gray==false, 'iconGray':deck[0].icon.gray==true}"><img ng-src="{{deck[0].icon.image}}"></div>
                <div ng-class="{'selected':sel=='oneB'}" ng-click="sel='oneB'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[1].move.name==null}" ng-src="{{'images/moveicons/' + deck[1].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[1].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[1].move.styleIcon==null}" ng-src="{{deck[1].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[1].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[1].move.vert}} {{deck[1].move.horiz}}</li>
                            <li>{{deck[1].move.hit}}</li>
                            <li>{{deck[1].move.frames}}</li>
                            <span ng-if="deck[1].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[1].move.advhit}}, On Block: {{deck[1].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[1].icon.gray==false, 'iconGray':deck[1].icon.gray==true}"><img ng-src="{{deck[1].icon.image}}"></div>
                <div ng-class="{'selected':sel=='oneC'}" ng-click="sel='oneC'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[2].move.name==null}" ng-src="{{'images/moveicons/' + deck[2].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[2].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[2].move.styleIcon==null}" ng-src="{{deck[2].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[2].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[2].move.vert}} {{deck[2].move.horiz}}</li>
                            <li>{{deck[2].move.hit}}</li>
                            <li>{{deck[2].move.frames}}</li>
                            <span ng-if="deck[2].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[2].move.advhit}}, On Block: {{deck[2].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[2].icon.gray==false, 'iconGray':deck[2].icon.gray==true}"><img ng-src="{{deck[2].icon.image}}"></div>
                <div class="icon altMargin"><img ng-src="{{frIcon}}"></div>
                <div ng-class="{'selected':sel=='oneD'}" ng-click="sel='oneD'; setSearch()" class="moveCellAlt">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[3].move.name==null}" ng-src="{{'images/moveicons/' + deck[3].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[3].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[3].move.styleIcon==null}" ng-src="{{deck[3].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[3].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[3].move.vert}} {{deck[3].move.horiz}}</li>
                            <li>{{deck[3].move.hit}}</li>
                            <li>{{deck[3].move.frames}}</li>
                            <span ng-if="deck[3].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[3].move.advhit}}, On Block: {{deck[3].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[3].icon.gray==false, 'iconGray':deck[3].icon.gray==true}"><img ng-src="{{deck[3].icon.image}}"></div>
            </div>
            <div class="moveString">
                <div class="icon"><img ng-src="{{flIcon}}"></div>
                <div ng-class="{'selected':sel=='twoA'}" ng-click="sel='twoA'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[4].move.name==null}" ng-src="{{'images/moveicons/' + deck[4].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[4].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[4].move.styleIcon==null}" ng-src="{{deck[4].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[4].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[4].move.vert}} {{deck[4].move.horiz}}</li>
                            <li>{{deck[4].move.hit}}</li>
                            <li>{{deck[4].move.frames}}</li>
                            <span ng-if="deck[4].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[4].move.advhit}}, On Block: {{deck[4].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[4].icon.gray==false, 'iconGray':deck[4].icon.gray==true}"><img ng-src="{{deck[4].icon.image}}"></div>
                <div ng-class="{'selected':sel=='twoB'}" ng-click="sel='twoB'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[5].move.name==null}" ng-src="{{'images/moveicons/' + deck[5].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[5].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[5].move.styleIcon==null}" ng-src="{{deck[5].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[5].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[5].move.vert}} {{deck[5].move.horiz}}</li>
                            <li>{{deck[5].move.hit}}</li>
                            <li>{{deck[5].move.frames}}</li>
                            <span ng-if="deck[5].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[5].move.advhit}}, On Block: {{deck[5].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[5].icon.gray==false, 'iconGray':deck[5].icon.gray==true}"><img ng-src="{{deck[5].icon.image}}"></div>
                <div ng-class="{'selected':sel=='twoC'}" ng-click="sel='twoC'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[6].move.name==null}" ng-src="{{'images/moveicons/' + deck[6].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[6].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[6].move.styleIcon==null}" ng-src="{{deck[6].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[6].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[6].move.vert}} {{deck[6].move.horiz}}</li>
                            <li>{{deck[6].move.hit}}</li>
                            <li>{{deck[6].move.frames}}</li>
                            <span ng-if="deck[6].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[6].move.advhit}}, On Block: {{deck[6].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[6].icon.gray==false, 'iconGray':deck[6].icon.gray==true}"><img ng-src="{{deck[6].icon.image}}"></div>
                <div class="icon altMargin"><img ng-src="{{flIcon}}"></div>
                <div ng-class="{'selected':sel=='twoD'}" ng-click="sel='twoD'; setSearch()" class="moveCellAlt">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[7].move.name==null}" ng-src="{{'images/moveicons/' + deck[7].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[7].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[7].move.styleIcon==null}" ng-src="{{deck[7].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[7].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[7].move.vert}} {{deck[7].move.horiz}}</li>
                            <li>{{deck[7].move.hit}}</li>
                            <li>{{deck[7].move.frames}}</li>
                            <span ng-if="deck[7].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[7].move.advhit}}, On Block: {{deck[7].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[7].icon.gray==false, 'iconGray':deck[7].icon.gray==true}"><img ng-src="{{deck[7].icon.image}}"></div>
            </div>
            <div class="moveString">
                <div class="icon"><img ng-src="{{blIcon}}"></div>
                <div ng-class="{'selected':sel=='threeA'}" ng-click="sel='threeA'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[8].move.name==null}" ng-src="{{'images/moveicons/' + deck[8].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[8].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[8].move.styleIcon==null}" ng-src="{{deck[8].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[8].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[8].move.vert}} {{deck[8].move.horiz}}</li>
                            <li>{{deck[8].move.hit}}</li>
                            <li>{{deck[8].move.frames}}</li>
                            <span ng-if="deck[8].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[8].move.advhit}}, On Block: {{deck[8].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[8].icon.gray==false, 'iconGray':deck[8].icon.gray==true}"><img ng-src="{{deck[8].icon.image}}"></div>
                <div ng-class="{'selected':sel=='threeB'}" ng-click="sel='threeB'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[9].move.name==null}" ng-src="{{'images/moveicons/' + deck[9].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[9].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[9].move.styleIcon==null}" ng-src="{{deck[9].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[9].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[9].move.vert}} {{deck[9].move.horiz}}</li>
                            <li>{{deck[9].move.hit}}</li>
                            <li>{{deck[9].move.frames}}</li>
                            <span ng-if="deck[9].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[9].move.advhit}}, On Block: {{deck[9].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[9].icon.gray==false, 'iconGray':deck[9].icon.gray==true}"><img ng-src="{{deck[9].icon.image}}"></div>
                <div ng-class="{'selected':sel=='threeC'}" ng-click="sel='threeC'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[10].move.name==null}" ng-src="{{'images/moveicons/' + deck[10].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[10].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[10].move.styleIcon==null}" ng-src="{{deck[10].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[10].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[10].move.vert}} {{deck[10].move.horiz}}</li>
                            <li>{{deck[10].move.hit}}</li>
                            <li>{{deck[10].move.frames}}</li>
                            <span ng-if="deck[10].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[10].move.advhit}}, On Block: {{deck[10].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[10].icon.gray==false, 'iconGray':deck[10].icon.gray==true}"><img ng-src="{{deck[10].icon.image}}"></div>
                <div class="icon altMargin"><img ng-src="{{blIcon}}"></div>
                <div ng-class="{'selected':sel=='threeD'}" ng-click="sel='threeD'; setSearch()" class="moveCellAlt">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[11].move.name==null}" ng-src="{{'images/moveicons/' + deck[11].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[11].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[11].move.styleIcon==null}" ng-src="{{deck[11].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[11].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[11].move.vert}} {{deck[11].move.horiz}}</li>
                            <li>{{deck[11].move.hit}}</li>
                            <li>{{deck[11].move.frames}}</li>
                            <span ng-if="deck[11].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[11].move.advhit}}, On Block: {{deck[11].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[11].icon.gray==false, 'iconGray':deck[11].icon.gray==true}"><img ng-src="{{deck[11].icon.image}}"></div>
            </div>
            <div class="moveString">
                <div class="icon"><img ng-src="{{brIcon}}"></div>
                <div ng-class="{'selected':sel=='fourA'}" ng-click="sel='fourA'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[12].move.name==null}" ng-src="{{'images/moveicons/' + deck[12].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[12].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[12].move.styleIcon==null}" ng-src="{{deck[12].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[12].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[12].move.vert}} {{deck[12].move.horiz}}</li>
                            <li>{{deck[12].move.hit}}</li>
                            <li>{{deck[12].move.frames}}</li>
                            <span ng-if="deck[12].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[12].move.advhit}}, On Block: {{deck[12].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[12].icon.gray==false, 'iconGray':deck[12].icon.gray==true}"><img ng-src="{{deck[12].icon.image}}"></div>
                <div ng-class="{'selected':sel=='fourB'}" ng-click="sel='fourB'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[13].move.name==null}" ng-src="{{'images/moveicons/' + deck[13].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[13].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[13].move.styleIcon==null}" ng-src="{{deck[13].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[13].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[13].move.vert}} {{deck[13].move.horiz}}</li>
                            <li>{{deck[13].move.hit}}</li>
                            <li>{{deck[13].move.frames}}</li>
                            <span ng-if="deck[13].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[13].move.advhit}}, On Block: {{deck[13].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[13].icon.gray==false, 'iconGray':deck[13].icon.gray==true}"><img ng-src="{{deck[13].icon.image}}"></div>
                <div ng-class="{'selected':sel=='fourC'}" ng-click="sel='fourC'; setSearch()" class="moveCell">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[14].move.name==null}" ng-src="{{'images/moveicons/' + deck[14].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[14].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[14].move.styleIcon==null}" ng-src="{{deck[14].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[14].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[14].move.vert}} {{deck[14].move.horiz}}</li>
                            <li>{{deck[14].move.hit}}</li>
                            <li>{{deck[14].move.frames}}</li>
                            <span ng-if="deck[14].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[14].move.advhit}}, On Block: {{deck[14].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[14].icon.gray==false, 'iconGray':deck[14].icon.gray==true}"><img ng-src="{{deck[14].icon.image}}"></div>
                <div class="icon altMargin"><img ng-src="{{brIcon}}"></div>
                <div ng-class="{'selected':sel=='fourD'}" ng-click="sel='fourD'; setSearch()" class="moveCellAlt">
                    <div class="moveText">
                        <img class="backgroundImage" ng-class="{'hide':deck[15].move.name==null}" ng-src="{{'images/moveicons/' + deck[15].move.name + '.png' | removeSpaces}}">
                        <div class="moveName">{{deck[15].move.name}}</div>
                        <div class="moveStyle">
                            <img class="styleIcon" ng-class="{'hide':deck[15].move.styleIcon==null}" ng-src="{{deck[15].move.styleIcon}}">
                            <img class="moveIcon" ng-repeat="x in deck[15].move.propIcons" ng-src="{{x}}">
                        </div>
                        <ul class="moveInfo">
                            <li>{{deck[15].move.vert}} {{deck[15].move.horiz}}</li>
                            <li>{{deck[15].move.hit}}</li>
                            <li>{{deck[15].move.frames}}</li>
                            <span ng-if="deck[15].move.name">
                                <div class="small">
                                    <li>On Hit: {{deck[15].move.advhit}}, On Block: {{deck[15].move.advguard}}</li>
                                </div>
                            </span>
                        </ul>
                    </div>
                </div>
                <div ng-class="{'icon':deck[15].icon.gray==false, 'iconGray':deck[15].icon.gray==true}"><img ng-src="{{deck[15].icon.image}}"></div>
            </div>
            </div>
        </div>
        </div>

        <div id="col3" class="col-3">
            <div class="transbarright">
                <div class="yellowtext centText marginBot">
                    <label ng-repeat="x in lrFilter">
                        <input type="checkbox" ng-model="x.checked" ng-click="updateSelection($index, lrFilter); setSearch()">
                        {{x.name}}
                    </label>
                </div>
                <div class="yellowtext centText marginBot">
                    <label ng-repeat="x in typeFilter">
                        <input type="checkbox" ng-model="x.checked" ng-click="updateSelection($index, typeFilter); setSearch()">
                        {{x.name}}
                    </label>
                </div>
                <div class="yellowtext centText marginBot">
                    <label ng-repeat="x in heightFilter">
                        <input type="checkbox" ng-model="x.checked" ng-click="updateSelection($index, heightFilter); setSearch()">
                        {{x.name}}
                    </label>
                </div>
                <div class="yellowtext centText marginBot">
                    <label ng-repeat="x in swordFilter ">
                        <input type="checkbox" ng-model="x.checked" ng-click="updateSelection($index, swordFilter); setSearch()">
                        {{x.name}}
                    </label>
                </div>
                <div class="marginButt">
                    <button class="buttonStyle" ng-click="clearMove()">Clear move</button>
                </div>
                <div class="centText marginBot">
                    <input id="moveSearch" class="searchStyle" type="text" placeholder="Filter move list" ng-model="key">
                </div>
                <div class="searchListHeight" ng-style="showSearch">
                    <li class="finishInList" ng-hide="!(frMoves | filter:search).length">
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-8 finishInText">Finish In</div>
                            <div class="col-3 noPadding"><img class="finishInIcon" ng-src="{{frIcon}}"></div>
                            <div class="col-9"></div>
                        </div>
                    </li>
                    <li class="search" ng-repeat="move in (frMoves | filter:search)" ng-click="addMove(move.name)">
                        <!--<div class="searchStyleIcon"><img class="moveIconSearch" ng-src="{{'images/' + move.style + '_icon.png'}}"></div>-->
                        <div class="row">
                            <div class="moveNameSearch col-5">{{move.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 floatLeft"><img class="searchMoveIcon" ng-class="{'hide':move.name==null}" ng-src="{{'images/moveicons/' + move.name + '.png' | removeSpaces}}"></div>
                            <div class="col-7 floatLeft movePropSearch marginTop">
                                {{move.vert}}
                                {{move.horiz}}
                                {{move.hits}}
                                {{move.frames}}f
                            </div>
                            <div class="col-7 floatRight marginTop15"><img class="moveIconSearch" ng-repeat="x in move.properties" ng-src="{{'images/' + x + '_move_icon.png'}}"></div>
                        </div>
                    </li>
                    <li class="finishInList" ng-hide="!(flMoves | filter:search).length">
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-8 finishInText">Finish In</div>
                            <div class="col-3 noPadding"><img class="finishInIcon" ng-src="{{flIcon}}"></div>
                            <div class="col-9"></div>
                        </div>
                    </li>
                    <li class="search" ng-repeat="move in (flMoves | filter:search)" ng-click="addMove(move.name)">
                        <!--<div class="searchStyleIcon"><img class="moveIconSearch" ng-src="{{'images/' + move.style + '_icon.png'}}"></div>-->
                        <div class="row">
                            <div class="moveNameSearch col-5">{{move.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 floatLeft"><img class="searchMoveIcon" ng-class="{'hide':move.name==null}" ng-src="{{'images/moveicons/' + move.name + '.png' | removeSpaces}}"></div>
                            <div class="col-7 floatLeft movePropSearch marginTop">
                                {{move.vert}}
                                {{move.horiz}}
                                {{move.hits}}
                                {{move.frames}}f
                            </div>
                            <div class="col-7 floatRight marginTop15"><img class="moveIconSearch" ng-repeat="x in move.properties" ng-src="{{'images/' + x + '_move_icon.png'}}"></div>
                        </div>
                    </li>
                    <li class="finishInList" ng-hide="!(blMoves | filter:search).length">
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-8 finishInText">Finish In</div>
                            <div class="col-3 noPadding"><img class="finishInIcon" ng-src="{{blIcon}}"></div>
                            <div class="col-9"></div>
                        </div>
                    </li>
                    <li class="search" ng-repeat="move in (blMoves | filter:search)" ng-click="addMove(move.name)">
                        <!--<div class="searchStyleIcon"><img class="moveIconSearch" ng-src="{{'images/' + move.style + '_icon.png'}}"></div>-->
                        <div class="row">
                            <div class="moveNameSearch col-5">{{move.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 floatLeft"><img class="searchMoveIcon" ng-class="{'hide':move.name==null}" ng-src="{{'images/moveicons/' + move.name + '.png' | removeSpaces}}"></div>
                            <div class="col-7 floatLeft movePropSearch marginTop">
                                {{move.vert}}
                                {{move.horiz}}
                                {{move.hits}}
                                {{move.frames}}f
                            </div>
                            <div class="col-7 floatRight marginTop15"><img class="moveIconSearch" ng-repeat="x in move.properties" ng-src="{{'images/' + x + '_move_icon.png'}}"></div>
                        </div>
                    </li>
                    <li class="finishInList" ng-hide="!(brMoves | filter:search).length">
                        <div class="row">
                            <div class="col-9"></div>
                            <div class="col-8 finishInText">Finish In</div>
                            <div class="col-3 noPadding"><img class="finishInIcon" ng-src="{{brIcon}}"></div>
                            <div class="col-9"></div>
                        </div>
                    </li>
                    <li class="search" ng-repeat="move in (brMoves | filter:search)" ng-click="addMove(move.name)">
                        <!--<div class="searchStyleIcon"><img class="moveIconSearch" ng-src="{{'images/' + move.style + '_icon.png'}}"></div>-->
                        <div class="row">
                            <div class="moveNameSearch col-5">{{move.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 floatLeft"><img class="searchMoveIcon" ng-class="{'hide':move.name==null}" ng-src="{{'images/moveicons/' + move.name + '.png' | removeSpaces}}"></div>
                            <div class="col-7 floatLeft movePropSearch marginTop">
                                {{move.vert}}
                                {{move.horiz}}
                                {{move.hits}}
                                {{move.frames}}f
                            </div>
                            <div class="col-7 floatRight marginTop15"><img class="moveIconSearch" ng-repeat="x in move.properties" ng-src="{{'images/' + x + '_move_icon.png'}}"></div>
                        </div>
                    </li>
                    <li class="finishInList" ng-hide="!(frflMoves | filter:search).length">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-40 finishInText">Finish In</div>
                            <div class="col-3 noPadding"><img class="finishInIcon" ng-src="{{frIcon}}"></div>
                            <div class="col-3 noPadding"><img class="finishInIcon" ng-src="{{flIcon}}"></div>
                            <div class="col-3"></div>
                        </div>
                    </li>
                    <li class="search" ng-repeat="move in (frflMoves | filter:search)" ng-click="addMove(move.name)">
                        <!--<div class="searchStyleIcon"><img class="moveIconSearch" ng-src="{{'images/' + move.style + '_icon.png'}}"></div>-->
                        <div class="row">
                            <div class="moveNameSearch col-5">{{move.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 floatLeft"><img class="searchMoveIcon" ng-class="{'hide':move.name==null}" ng-src="{{'images/moveicons/' + move.name + '.png' | removeSpaces}}"></div>
                            <div class="col-7 floatLeft movePropSearch marginTop">
                                {{move.vert}}
                                {{move.horiz}}
                                {{move.hits}}
                                {{move.frames}}f
                            </div>
                            <div class="col-7 floatRight marginTop15"><img class="moveIconSearch" ng-repeat="x in move.properties" ng-src="{{'images/' + x + '_move_icon.png'}}"></div>
                        </div>
                    </li>
                    <li class="finishInList" ng-hide="!(blbrMoves | filter:search).length">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-40 finishInText">Finish In</div>
                            <div class="col-3 noPadding"><img class="finishInIcon" ng-src="{{blIcon}}"></div>
                            <div class="col-3 noPadding"><img class="finishInIcon" ng-src="{{brIcon}}"></div>
                            <div class="col-3"></div>
                        </div>
                    </li>
                    <li class="search" ng-repeat="move in (blbrMoves | filter:search)" ng-click="addMove(move.name)">
                        <!--<div class="searchStyleIcon"><img class="moveIconSearch" ng-src="{{'images/' + move.style + '_icon.png'}}"></div>-->
                        <div class="row">
                            <div class="moveNameSearch col-5">{{move.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 floatLeft"><img class="searchMoveIcon" ng-class="{'hide':move.name==null}" ng-src="{{'images/moveicons/' + move.name + '.png' | removeSpaces}}"></div>
                            <div class="col-7 floatLeft movePropSearch marginTop">
                                {{move.vert}}
                                {{move.horiz}}
                                {{move.hits}}
                                {{move.frames}}f
                            </div>
                            <div class="col-7 floatRight marginTop15"><img class="moveIconSearch" ng-repeat="x in move.properties" ng-src="{{'images/' + x + '_move_icon.png'}}"></div>
                        </div>
                    </li>

                    <!--<li class="search" ng-repeat="move in (moves | filter:search)" ng-click="addMove(move.name)">
                        <div class="searchStyleIcon"><img class="moveIconSearch" ng-src="{{'images/' + move.style + '_icon.png'}}"></div>
                        <div class="row">
                            <div class="moveNameSearch col-5">{{move.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 floatLeft"><img class="searchMoveIcon" ng-class="{'hide':move.name==null}" ng-src="{{'images/moveicons/' + move.name + '.png' | removeSpaces}}"></div>
                            <div class="col-7 floatLeft movePropSearch marginTop">
                                {{move.vert}}
                                {{move.horiz ? 'sweep' : 'thrust'}}
                                {{move.hits}}
                            </div>
                            <div class="col-7 floatRight marginTop15"><img class="moveIconSearch" ng-repeat="x in move.properties" ng-src="{{'images/' + x + '_move_icon.png'}}"></div>
                        </div>
                    </li> --><!-- ng-bind="move" |limitTo:12 -->
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
