/*Grid View*/
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-2 {width: 80%;}
.col-3 {width: 15%;}


.header{
    text-align: center;
}

.moveCell{
    vertical-align: top;
    margin-left: 70px;
    margin-bottom: 30px;
    width: 180px;
    height: 180px;
    background-color: #c0c6ce;
    display: inline-block;
    border: 2px solid white;
}

.moveCellAlt{
    vertical-align: top;
    margin-left: 180px;
    margin-bottom: 30px;
    width: 180px;
    height: 180px;
    background-color: #c0c6ce;
    display: inline-block;
    border: 2px solid white;
}

.moveName{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.moveText{
    padding: 10px;
}

.moveString{
}

.selected{
    border: 2px solid black;
}