/*Fonts*/
@font-face {
	font-family: Droid Sans;
	src: url('fonts/DroidSans.ttf');
}

/*Grid View*/
* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 7%;}
.col-2 {width: 71%;}
.col-3 {width: 15%;}
.col-4 {width: 7%;}
.col-5 {width: 60%;}
.col-6 {width: 20%;}
.col-7 {width: 31%;}
.col-8 {width: 35%;}
.col-9 {width: 25%;}
.col-18 {width: 18%;}
.col-40 {width: 40%}


.background{
    opacity: .5;
    filter: grayscale(80%);
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.hide{
    display: none;
}

.header{
    text-align: center;
    font-family: Droid Sans;
    color: #f1f7aa;
    text-shadow: 2px 2px black;
}

.icon{
    display: inline-block;
    margin-top: 75px;
}

.iconGray{
    display: inline-block;
    margin-top: 75px;
    filter: grayscale(100%);
}

.moveCell{
    font-family: Droid Sans;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 180px;
    /*background-color: #0c0c0c;*/
    display: inline-block;
    border: 2px solid #c0c6ce;
    color: #f1f7aa;
    text-align: center;
}

.moveCellAlt{
    font-family: Droid Sans;
    vertical-align: top;
    margin-bottom: 10px;
    width: 150px;
    height: 180px;
    /*background-color: #0c0c0c;*/
    display: inline-block;
    border: 2px solid #c0c6ce;
    color: #f1f7aa;
    text-align: center;
}

.moveName{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.moveStyle{
    text-align: center;
    font-size: 16px;
}

.moveText{
    position: relative;
    padding: 10px;
}

.moveString{
}

.moveInfo{
    list-style: none;
    padding: 0px;
    font-size: 16px;
}

.selected{
    border: 4px solid #f1f7aa;
}

.search{
    margin-top: 5px;
    list-style: none;
    cursor: pointer;
    font-family: Droid Sans;
    color: #f1f7aa;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #111111;
    width: 95%;
    margin: 0 auto;
    border-top: 5px solid #000000;
    position: relative;
}

.search:hover{
    background-color: #c0c6ce;
}

.altMargin{
    margin-left: 150px;
}

.transbarmid{
    z-index: -2;
    min-width: 1180px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 800px;
	background-color: #000000;
	opacity: 0.8;
}

.center{
    margin: 0 auto;
}

.midWidth{
    width: 1178px;
}

.buttonStyle{
    width: auto;
    font-size: 15px;
    font-weight: bold;
    background-color: #c0c6ce;
    opacity: 0.8;
    display: block;
    margin: 0 auto;
}

.marginButt{
    margin-bottom: 20px;
}

.searchStyle{
    width: 200px;
    margin: 0 auto;
}

.centText{
    text-align:center;
}

.searchListHeight{
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.transbarright{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 800px;
	background-color: #000000;
	opacity: 0.8;
}

.styleIcon{
    width: 24%;
    height: 24%;
}

.moveIcon{
    width: 30px;
    height: 30px;
}

.moveIconSearch{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    position: relative;
}

.movePropSearch{
    font-size: 13.5px;
    text-align: center;
}

.moveNameSearch{
    width: 100%;
    text-align: center;
    padding: 0px;
}

.floatLeft{
    padding:0px;
}

.floatRight{
    padding: 0px;
    margin-left: 5px;
}

.backgroundImage{
   position:absolute;
   top:0;
   left:0;
   z-index:-1;
   width: 140px;
   height: 170px;
   opacity: .2;
}

.searchMoveIcon{
    width: 90%;
    height: 90%;
}

.searchStyleIcon{
    position: absolute;
    top: 5px;
    left: 5px;
}

.finishInList{
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

.finishInText{
    font-family: Droid Sans;
    color: #f1f7aa;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    padding: 0px;
}

.finishInIcon{
    width: 35px;
    height: 35px;
}

.noPadding{
    padding: 0px;
}

.marginTop{
    margin-top: 20px;
}

.marginTop15{
    margin-top: 15px;
}

.marginBot{
    margin-bottom: 10px;
}

.yellowtext{
    font-family: Droid Sans;
    color: #f1f7aa;
}

.marginLeft13{
    margin-left: 13px;
}

.small{
	font-size: 10px;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*mobile*/
@media (max-width:1200px) {
  #col2, #col3 {
    width:100%;
  }
}
